@model JacksonShul.Data.Payment

<div class="row">
    <div class="col-md-5 col-md-offset-2">
        <div class="well">
            @{ string action = @ViewBag.payment == true ? "donate": "pledge";}
            <form method="post" action="@action">
                <input type="hidden" name="memberid" value="@Model.MemberId" />
                <input type="hidden" name="expenseid" value="@Model.ExpenseId" />
                <input type="hidden" name="date" value="@Model.Date" />
                <div class="form-group">
                    <label>please enter the amount you wish to @action for the @ViewBag.expenseName </label>
                    <input type="number" name="amount" class="form-control" id="amount"/>
                </div>
                <button type="submit" disabled id="submit-button" class="btn btn-primary">@action.ToUpper()</button>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/site-scripts/donate.js"></script>
}