@using JacksonShul.Models
@model IEnumerable<ExpensePlus>

<h1>Guest Payment</h1>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>Donate</th>
        <th>Expense</th>
        <th>Cost</th>
        <th>Donated</th>
        <th>Pledged</th>
        <th>Date</th>
    </tr>

    @foreach (var expense in Model)
    {
        <tr>
            <td><a href="/admin/donate?expenseid=@expense.Id&expensename=@expense.Name" class="btn btn-primary">Donate</a></td>
            <td>@expense.Name</td>
            <td>@(expense.Cost != null ? expense.Cost.Value.ToString("C") : "")</td>
            <td>@(expense.TotalDonations.ToString("C"))</td>
            <td>@(expense.TotalPledges.ToString("C"))</td>
            <td>@expense.Date.ToShortDateString()</td>
        </tr>
    }
</table>
