@using JacksonShul.Data
@using JacksonShul.Models
@model IEnumerable<MembersPlus>

@*<h3>Total Donations: @Model.Sum(p => p.Payments.Sum(a => a.Amount)).ToString("C")</h3>
@foreach (MembersPlus m in @Model)
{
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>@m.FirstName @m.LastName</th>
            <th>@m.Cell @m.Email</th>
        </tr>
        @foreach (var p in m.Payments)
        {
            <tr>
                <td>@p.Date</td>
                
                <td>@p.Amount.ToString("C")</td>
            </tr>
        }
    </table>
}*@


<h3>Total Pledges: @Model.Sum(p => p.Pledges.Sum(a => a.Amount)).ToString("C")</h3>
@foreach (MembersPlus m in @Model)
{
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>@m.FirstName @m.LastName</th>
            <th>@m.Cell @m.Email</th>
        </tr>
        @foreach (var p in m.Pledges)
        {
            <tr>
                <td>@p.Date</td>
               
                <td>@p.Amount.ToString("C")</td>
            </tr>
        }
    </table>
}




