@using JacksonShul.Models
@model IEnumerable<PledgeWithName>

<h3>Total Pledges for @ViewBag.expenseName: @Model.Sum(p => p.Amount).ToString("C")</h3>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>Donor</th>
        <th>Amount</th>
        <th>Date</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Name</td>
            <td>@p.Amount.ToString("C")</td>
            <td>@p.Date.ToShortDateString()</td>
        </tr>
    }

</table>